
.container {
    display: flex;

}


.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    width: 70%;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

img {
    width: 70%;
}

button {
    margin-right: 5px;
    margin-left: 5px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}