
.container {
    display: flex;
}


.content {
    flex: 1;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

img {
    width: 70%;
}